/* ============================== */
/* GLOBAL */
/* ============================== */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 62.5%;
    cursor: default;
    translate: no
    
}

html {
    font-size: 62.5%;

    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    /* Chrome, Safari, Edge */
    -moz-text-size-adjust: 100%;
    /* Firefox */
    -ms-text-size-adjust: 100%;
    /* Internet Explorer */
    text-size-adjust: 100%;
    /* Padrão */
}

body {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    font-style: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
}

canvas {
    touch-action: none;
}

html,
body {
    background-color: #0e0501;
    overscroll-behavior: none;
    overflow-x: hidden;
}

/* #landscape-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
    padding: 1rem;
    pointer-events: none;
} */

/* ============================== */
/* Fonts */
/* ============================== */
@font-face {
    font-family: 'MeshedDisplay-Thin';
    src: url('./src/fonts/MeshedDisplay-Thin.woff2') format('woff2'),
        url('./src/fonts/MeshedDisplay-Thin.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'MeshedDisplay-ThinSlanted';
    src: url('./src/fonts/MeshedDisplay-ThinSlanted.woff2') format('woff2'),
        url('./src/fonts/MeshedDisplay-ThinSlanted.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('./src/fonts/Satoshi-Regular.woff2') format('woff2'),
        url('./src/fonts/Satoshi-Regular.woff') format('woff');
    font-display: swap;
}


/* ============================== */
/* Preloader */
/* ============================== */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    color: #D9CBBA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12rem;
    z-index: 9999;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.5s ease;
}

/* Conteúdo principal escondido inicialmente */
#content {
    display: none;
    padding: 20px;
    font-family: 'Satoshi-Regular';
}

/* ============================== */
/* OVERLAY */
/* ============================== */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

/* ============================== */
/* HEADER */
/* ============================== */

header,
.menu-header,
.menu-header a,
.menu-header li {
    position: relative;
    z-index: 10;
    pointer-events: auto;
}

.name {
    font-size: 1.2rem;
}

.hr {
    border: none;
    height: 0.1rem;
    background-color: rgba(218, 218, 218, 0.329);
    z-index: 3;
}

.name-header {
    display: flex;
    justify-content: space-around;
    color: #D9CBBA;
}

h1.left {
    font-size: clamp(3rem, 10vw, 12rem);
    font-family: 'MeshedDisplay-ThinSlanted';
}

h1.right {
    font-size: clamp(3rem, 10vw, 12rem);
    font-family: 'MeshedDisplay-Thin';
}

/* ============================== */
/* MENU HEADER DIVIDIDO */
/* ============================== */
.menu-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    margin-top: 0.6rem;
    position: relative;
    z-index: 2;
}

.menu-left ul,
.menu-right ul {
    display: flex;
    gap: 2rem;
    /* espaço entre os itens do grupo */
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-left {
    justify-content: flex-start;
}

.menu-right {
    justify-content: flex-end;
}

li {
    font-size: clamp(1.5rem, 1vw, 1.8rem);
    color: #8C8480;
}

li a {
    display: inline-block;
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    min-width: 6rem;
    cursor: grabbing;
    font-weight: 600;
    color: #D9CBBA;
    transition: transform 0.3s;
}

.words-menu-header:hover {
    transform: scale(1.4);
}

/* ============================== */
/* BODY */
/* ============================== */

/* ============================== */
/* SECTION 1 */
/* ============================== */

.container-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

h1 {
    position: relative;
    z-index: 2;
}

.section-h1-brazillian,
.section-h1-front-end,
.section-h1-creative-developer,
.container-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 2rem;
    gap: 1rem;
}

h1.h1-brazillian {
    margin: 4rem 0;
    font-size: clamp(6rem, 3vw, 8rem);
    font-family: 'Satoshi-Regular';
    letter-spacing: 1rem;
    color: #D9CBBA;
    cursor: grabbing;
}

h1.h1-brazillian:hover {
    color: #8C8480;
}


/* Médio tamanho */
h1.h1-front-end {
    margin: 4rem 0;
    font-size: clamp(9rem, 3vw, 11rem);
    font-family: 'Satoshi-Regular';
    letter-spacing: 2rem;
    color: #D9CBBA;
    cursor: grabbing;
}

h1.h1-front-end:hover {
    color: #8C8480;
}

/* Maior tamanho */
h1.h1-creative-developer {
    margin: 4rem 0 8rem 0;
    font-size: clamp(12rem, 3vw, 16rem);
    font-family: 'Satoshi-Regular';
    color: #D9CBBA;
    position: relative;
    /* white-space: nowrap; */
    cursor: grabbing;
}

h1.h1-creative-developer:hover {
    color: #8C8480;
}

h1.h1-creative-developer span {
    display: inline-block;
    letter-spacing: 3rem;
}

/* Sections */
.section-h1-front-end {
    display: flex;
    justify-content: space-around;
}


/* ============================== */
/* SECTION 2
/* ============================== */

.marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #0e0501;
    color: #D9CBBA;
    padding: 1rem 0;
    font-size: clamp(3rem, 25vw, 28rem);
}

.marquee__content {
    margin-bottom: 15rem;
    display: inline-block;
    animation: marquee 20s linear infinite;
}

.marquee__content span {
    display: inline-block;
    padding-right: 2rem;
    /* espaçamento entre repetições */
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.about-frame {
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    margin: 5vh auto;

    width: 80vw;
    max-width: 1500px;
    min-width: 300px;

    min-height: 450px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.5rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

.about-frame>p {
    word-break: normal;
    white-space: pre-wrap;
    font-size: 1.5rem;
    font-family: monospace;
    color: #5c534c;
    overflow: hidden;
    animation: typing 3s steps(30, end) forwards, blink 0.7s infinite;
    box-sizing: border-box;
}

/* Cards responsivos */
.card-about {
    border: 1px solid rgba(255, 255, 255, 0.137);
    width: 22vw;
    max-width: 260px;
    min-width: 160px;
    height: auto;
    max-height: 400px;
    min-height: 200px;
    background-color: #6d12a123;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.8s ease, transform 0.8s ease;

    opacity: 0;
    transform: translateY(100px);
}

.card-about.show {
    opacity: 1;
    transform: translateY(0);
}

.card-about .card-title-h3 {
    font-size: 2rem;
    color: #bbbbff;
    margin-bottom: 0.5rem;
}

.card-about:hover {
    cursor: default;
}

.card-about p {
    font-size: 1.5rem;
    line-height: 2;
    color: #fdebff;
}

/* Posições diferentes para manter o desalinhamento natural */
.card1 {
    transform: rotate(10deg);
    margin-top: 5rem;
    font-weight: 700;

}

.card2 {
    transform: rotate(-12deg);
    margin-top: 2rem;
    font-weight: 700;

}

.card3 {
    transform: rotate(8deg);
    margin-top: 6rem;
    font-weight: 700;

}

.card4 {
    transform: rotate(-8deg);
    margin-top: 10rem;
    font-weight: 700;

}

/* ============================== */
/* SECTION 3
/* ============================== */

.groups-work {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
    margin-bottom: 5rem;
    text-align: center;
}

.groups-work p {
    font-size: 12rem;
    color: rgba(190, 218, 255, 0.383);
    line-height: 0.3;

}

.works {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.7s ease, opacity 0.7s ease;
}

.works.animate {
    opacity: 1;
    transform: translateX(0);
}

.indent-0.animate {
    transition-delay: 0s;
}

.indent-1.animate {
    transition-delay: 0.2s;
}

.indent-2.animate {
    transition-delay: 0.4s;
}

.indent-3.animate {
    transition-delay: 0.6s;
}

.indent-4.animate {
    transition-delay: 0.8s;
}


.group-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
    max-width: 150rem;
}

.group-item .imgbox {
    width: 100%;
    max-height: 60%;
    overflow: hidden;
    position: relative;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.group-item .imgbox img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 1rem;

}

.imgbox button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    padding: 0.9rem 1.5rem;
    background-color: rgba(62, 54, 46, 0.425);
    color: #979797;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.3s ease;
}

.imgbox button:hover {
    background-color: rgba(92, 83, 76, 0.9);
    transform: translateX(-50%) translateY(-3px) scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* ============================== */
/* CONTACTS RESPONSIVO */
/* ============================== */
.container-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
    gap: 2rem;
    z-index: 2;
}

ul.smoky {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}

ul.smoky li {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: clamp(3rem, 8vw, 6rem);
    font-weight: bold;
    letter-spacing: clamp(0.2rem, 2vw, 1rem);
    transition:
        color 0.3s ease,
        opacity 2s ease,
        filter 1.5s ease;
}

/* Hover ou efeito smoky */
ul.smoky.animate li {
    opacity: 0;
    filter: blur(10px);
}

/* Hover scale separado */
ul.smoky.hover-scale li:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.747);
    transform: scale(1.1);
}

/* ============================== */
/* FOOTER */
/* ============================== */
.footer {
    margin-top: 8rem;
}

/* ============================== */
/* MEDIA QUERIES */
/* ============================== */

@media (max-width: 768px) {

    .webgl {
        position: fixed;
    }

    .menu-left ul li:hover {
        transform: none;
        color: inherit;
        pointer-events: none;
    }

    .menu-right ul {
        gap: 0.1rem;
    }

    .h1:hover {
        pointer-events: none;
        transform: none;
    }

    .webgl {
        position: fixed;
        inset: 0;
        pointer-events: none;
    }

    h1.h1-brazillian {
        margin: rem 0;
        font-size: clamp(2rem, 3vw, 4rem);
        font-family: 'Satoshi-Regular';
        letter-spacing: 1rem;
        color: #D9CBBA;
    }

    h1.h1-front-end {
        margin: 4rem 0;
        justify-content: space-between;
        font-size: clamp(3rem, 4vw, 5rem);
        font-family: 'Satoshi-Regular';
        letter-spacing: 2rem;
        color: #D9CBBA;
    }

    h1.h1-creative-developer {
        margin: 4rem 0 8rem 0;
        font-size: clamp(3.5rem, 4.5vw, 5.5rem);
        font-family: 'Satoshi-Regular';
        letter-spacing: 2.1rem;
        color: #D9CBBA;
        position: relative;
        word-break: break-word;
        transition: transform 0.2s ease-out;
        display: flex;
        align-items: flex-start;
    }

    /* Sections */
    .section-h1-front-end {
        display: flex;
        justify-content: space-around;
    }

    .section-h1-creative-developer {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 4rem;
        gap: 4rem;
    }

    h1.h1-creative-developer span {
        letter-spacing: 0.5rem;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
        gap: 3px;
    }

    .item {
        font-size: clamp(1rem, 6vw, 2rem);
        padding: 2px;
    }

    .card-about {
        box-sizing: border-box;
        width: 15rem;
        max-height: 45rem;
        top: 15rem;
        right: 3rem;
    }
    .card1,
    .card2,
    .card3 {
        margin: 1rem;
    }
    
    .about-frame {
        gap: 0;
    }

    .card-about p {
        padding-top: 3rem;
        box-sizing: border-box;
        color: #1d1a19;
    }

    .imgbox button {
        padding: 0.3rem 0.9rem;
        font-size: 1rem;
        transition: all 0.3s ease;
    }

    ul.smoky {
        gap: 0.3em;
        flex-wrap: wrap;
    }

    ul.smoky li {
        font-size: clamp(1.5rem, 6vw, 3rem);
        line-height: 1;
        letter-spacing: 0.2rem;
    }

    ul.smoky.animate li {
        filter: blur(8px);
    }
}

/* Cards about me */
/* Ajuste para telas médias */
@media screen and (max-width: 900px) {
    .card-about {
        width: 40vw;
        height: 30vh;
        font-size: 1.2rem;
    }
}

/* Ajuste para telas pequenas */
@media screen and (max-width: 600px) {
    .card-about {
        width: 80vw;
        height: 25vh;
        font-size: 1rem;
    }
}